[submodule "src/external/cereal"]
	path = src/external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "src/external/cli11"]
	path = src/external/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "src/external/indicators"]
	path = src/external/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "src/external/matplotplusplus"]
	path = src/external/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
